/* SECTION-8 */
.section_8{
    height: 155vh;
    width: 100%;
    position: relative;
    bottom: 170px;
    background-color: #000000;
  }
  
  .sect-content{
    display: flex;
    color: #ffffff;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 100px;

  }
  .sect-content p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: #ffffff;
  }
  .sect-span{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
  }
  .sect-content p{
    font-size: 22px;
    display: flex;
    flex-direction: column;
  }
    .services_container{
    width: 80%;
    margin-left: 10%;
    margin-top: 160px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .column-xxx{
    width: 32.2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  .column-section h2{
    margin-left: 10%;
    margin-top: 6%;
    font-size: 20px;
    color: #000000;
  }
  .column-section{
    height: 60px;
    background: grey; 
    border-radius: 10px;
    border: 2px solid #ffffff;  
  }
  .column-section-xx h2{
    margin-left: 10%;
    font-size: 19px;
    color: #000000;
  }
  .column-section-xx{ 
    height: 60px;
    background: grey;
    border-radius: 10px;
    border: 2px solid #ffffff;  
  }
  