/* Navbar */
.navcontainer{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000;
    position: fixed;
    z-index: 1; 
  }
  .nav-content{ 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 43%;
  }
  .nav-logo img{
    width: 330px;
    position: fixed;
    left: 0;
    top: 10px;
 }
  .nav-content li{
    /* border: 1px solid khaki;  */
    height: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    font-weight:bold;
    color: #ffffff; 
    cursor: pointer;
  }

  .btn-1{
    border: transparent;
    height: 50px;
    width: 125px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #000000;
    background: #ffffff;
  }
  .btn-2{
    border: 1px solid #ffffff;
    height: 50px;
    width: 125px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    color: #ffffff;
    background: #000000;
  }
  