/* Section-2 */
.section_2{
    position: relative;
    /* height: 800px; */
    background: #f4f4f4;
    border: 1px solid  #f4f4f4;
  }
  .deck_content{
    text-align: center;
    color: #121212;
    position: relative;
    background: transparent;
    border: 20px solid green;
}
.deck_content p{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 3%;
  }
  .deck-span{
    font-size: 44px;
    font-weight: bold;
    color: #000000;
  }
  .team-container{
    height: 400px;
    width: 80%;
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 5%;
  }
  .division{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sub-division{
    width: 40%;
    height: 200px;
    margin-left: 3%;
  }
  .sub-division p{
    font-size: 17px;
  }
  .fff{
    margin-top: 25px;
  }
  